
.joinForm{
   
    height: 1000px;
    width: 1900px;
    text-align: center;
}
.joinInform1{
    display: inline-block;
    left: 300px;
    margin-top: 0px;
}
.joinInform2{
    display: inline-block;
    margin-top: 0px;
    left: 300px;
   
}

/*외부 테두리 설정*/
fieldset {
    display: inline-block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
}
legend{
     font-family: 'Gamja Flower', cursive;
    font-size: 25px;
    font-weight: bold;
    color: rgb(80, 80, 80);
}
h1.news_title{
    font-family: 'Gamja Flower', cursive;
    font-size: 100px;
    margin-top: 80px;
    font-size: 38px;
    color: rgb(80, 80, 80);
}
p{
    float: left;
    border: 1px solid bisque;
}
hr{
    margin-top: 20px;
    width: 1800px;
}

/*리스트 설정*/
ul{
    list-style: none;
}
ul li{
    width: 450px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(182, 181, 181);
}
label{
    
    float: left;
}

/*input 요소 설정*/
.joinInform1 input{
   float: left;
   font-size: 15px;
   border: 0px;
   outline: none;
   padding: 4px;
   margin-left: 10px;
}
.joinInform2 input{
    float: left;
    font-size: 15px;
    border: 0px;
    outline: none;
    padding: 4px;
    margin-left: 40px;
 }
.joinInform1 input::placeholder{
   color: rgb(180, 179, 179);
}

 /*가입완료 버튼 설정*/
 .joinInform2 button{ 
    width: 450px;
    height: 40px;
    margin-top: 25px;
    margin-left: 40px;
    border: 0px;
    outline: none;
    cursor: pointer;
    background-color: rgb(119, 119, 119);
    color: white;
    font-weight: bolder;
    font-size: 15px;
 }

 /*select 창 설정*/
.joinInform1 select{
    width: 140px;
    float: right;
    padding: 4px;
    border: 0px;
    outline: none;    
}