/*레이아웃*/
.header{
    display: grid;
    height: 200px;
    width: 1845px;
    grid-template-columns: repeat(3, 615px);
    grid-template-areas: 
    "login-area title-area search-area";
}
.login-area{
    margin-top: 165px;
    grid-area: login-area;
    margin-left: 60px;
}
.title-area{
    grid-area: title-area;
}
.search-area{
    grid-area: search-area;
    height: 30px;
    width: 250px;
    margin-top: 150px;
    margin-left: 300px;
    border: 2px solid rgb(126, 126, 139);
    background: white;
}
.menu-area{
    height: 60px;
    width: 1845px;
    background-color: forestgreen;
}
.joinForm{
    height: 1000px;
    width: 1845px;
    text-align: center;
}
.joinInform1{
    display: inline-block;
    left: 300px;
    margin-top: 0px;
    
}
.joinInform2{
    display: inline-block;
    margin-top: 0px;
    left: 300px;
   
}

/*외부 테두리 설정*/
fieldset {
    display: inline-block;
    width: 600px;
    margin: 30px auto;
    padding: 30px;
}
h1{
    margin-top: 50px;
    font-size: 28px;
    color: rgb(80, 80, 80);
}
p{
    float: left;
    border: 1px solid bisque;
}

/*리스트 설정*/
ul{
    list-style: none;
}
ul li{
    width: 450px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(182, 181, 181);
}
label{
    float: left;
}

/*input 요소 설정*/
.joinInform1 input{
   float: left;
  
   font-size: 15px;
   border: 0px;
   outline: none;
   padding: 4px;
   margin-left: 10px;
}
.joinInform2 input{
    float: left;
    font-size: 15px;
    border: 0px;
    outline: none;
    padding: 4px;
    margin-left: 40px;
 }
.joinInform1 input::placeholder{
   color: rgb(180, 179, 179);
}

 /*가입완료 버튼 설정*/
 .joinInform2 button{ 
    width: 450px;
    height: 40px;
    margin-top: 25px;
    margin-left: 40px;
    border: 0px;
    outline: none;
    cursor: pointer;
    background-color: rgb(119, 119, 119);
    color: white;
    font-weight: bolder;
    font-size: 15px;
 }

 /*select 창 설정*/
.joinInform1 select{
    width: 140px;
    float: right;
    padding: 4px;
    border: 0px;
    outline: none;    
}

/*하이퍼링크 설정*/
a.loginLink{
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
    /*border-right: 2px solid gray;*/

}
a.joinLink{
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}
a:link{
    color:  rgb(70, 69, 69);
}
a:visited{
    color:  rgb(70, 69, 69);
}
a:hover{
    color: rgb(47, 179, 135);
}

/*타이틀 이미지 설정*/
.title_img{
    display: block;
    margin: 10px auto;
    width: 500px;
    height: 180px;
    object-fit: contain;
    
}

/*검색창 버튼 설정*/
button.s_button{
    font-size: 16px;
    width: 60px;
    height: 100%;
    border : 0px;
    outline: none;
   background: rgb(126, 126, 139);
   color: white;
   float: right;
   border-radius: 0;
   cursor: pointer;
}

/*검색창 설정*/
input.m_search{
    font-size: 16px;
    width : 180px;
    height: 28px;
    border: 0px;
    outline: none;
    float: left;
}